$base03:    #002b36;
$base02:    #073642;
$base01:    #586e75;
$base00:    #657b83;
$base0:     #839496;
$base1:     #93a1a1;
$base2:     #eee8d5;
$base3:     #fdf6e3;
$yellow:    #b58900;
$orange:    #cb4b16;
$red:       #dc322f;
$magenta:   #d33682;
$violet:    #6c71c4;
$blue:      #268bd2;
$cyan:      #2aa198;
$green:     #859900;

* {
  all: unset;
  font-family: "FiraCode Nerd Font"
}

tooltip {
  background-color: $base02;
  color: $base0;
  border-color: $base0;
}

.light {
  .bar {
    color: $base00;
    background-color: $base3;
  }

  progress {
    background-color: $base00;
  }
  progressbar {
    background-color: $base2;
    border-color: $base00;
  }

  .hostname {
    color: $blue;
    background-color: $base2;
  }

  .workspaces {
    .workspace, .window {
      color: $base1;
      background-color: $base3;
      border-color: $base1;

      &.virtual {
        color: $base2;
        border-color: $base2;
      }

      &.active {
        color: $base01;
        background-color: $base2;
        border-color: $base01;
      }

      &:not(.active):hover {
        background-color: $base1;
        .name, .class {
          color: $base02;
        }
      }
    }
  }

  .security-key {
    color: $base3;
  }

  .music {
    &.paused {
      color: $base1;
      progress {
        background-color: $base1;
      }
      progressbar {
        border-color: $base1;
      }
    }

    .play-button, .pause-button {
      color: $base03;
      background-color: $base3;
    }
  }

  .button {
    color: $base0;
    background-color: $base3;
    border-color: $base0;
    &:hover {
      color: $base01;
      border-color: $base01;
    }
  }

  .tray {
    background-color: $base2;
    window {
      color: $base00;
      border-color: $base1;
      background-color: $base3;
    }
    menuitem {
      &:hover {
        color: $yellow;
      }
      arrow {
        border-color: $base01;
      }
    }
  }

  .pies {
    background-color: $base2;
  }

  .pie {
    background-color: $base3;
    .pie-overlay { color: $base3; }
  }

  .clock {
    color: $base01;
    background-color: $base2;
    .secondary { color: $base0; }
    .tertiary { color: $base1; }
  }
}

.dark {
  .bar {
    color: $base0;
    background-color: $base03;
  }

  progress {
    background-color: $base0;
  }
  progressbar {
    background-color: $base02;
    border-color: $base0;
  }

  .hostname {
    color: $blue;
    background-color: $base02;
  }

  .workspaces {
    .workspace, .window {
      color: $base01;
      background-color: $base03;
      border-color: $base01;

      &.virtual {
        color: $base02;
        border-color: $base02;
      }

      &.active {
        color: $base1;
        background-color: $base02;
        border-color: $base1;
      }

      &:not(.active):hover {
        background-color: $base01;
        .name, .class {
          color: $base2;
        }
      }
    }
  }

  .security-key {
    color: $base03;
  }

  .music {
    &.paused {
      color: $base01;
      progress {
        background-color: $base01;
      }
      progressbar {
        border-color: $base01;
      }
    }

    .play-button, .pause-button {
      color: $base3;
      background-color: $base03;
    }
  }

  .button {
    color: $base00;
    background-color: $base03;
    border-color: $base00;
    &:hover {
      color: $base1;
      border-color: $base1;
    }
  }

  .tray {
    background-color: $base02;
    window {
      color: $base0;
      border-color: $base01;
      background-color: $base03;
    }
    menuitem {
      &:hover {
        color: $yellow;
      }
      arrow {
        border-color: $base1;
      }
    }
  }

  .pies {
    background-color: $base02;
  }

  .pie {
    background-color: $base03;

    &.mem { color: $yellow; }
    &.cpu { color: $cyan; }
    &.disk { color: $green; }

    .pie-overlay { color: $base03; }
  }

  .clock {
    color: $base1;
    background-color: $base02;
    .secondary { color: $base00; }
    .tertiary { color: $base01; }
  }
}

tooltip {
  border-radius: 5px;
  border: 2px solid;
  padding: 0.2rem 0.4rem;
}

progressbar > trough {
  min-width: 1px;
}

progressbar {
  border-radius: 10px;
  border: 1px dotted;
}

progress {
  border-radius: 10px;
  background-color: $green;
}

.bar {
  > * {
    padding: 0.2rem 0.4rem;
  }
}

.hostname {
  padding: 0;
  margin-bottom: 0.2rem;
}

.workspaces {
  .workspace {
    border: 1px solid;

    .name {
      padding: 0.4rem 0.2rem;
      font-weight: bold;
      font-variant: small-caps;
      font-size: 1.2rem;
    }
  }

  .window {
    border: 1px solid;
    border-top: 0px;

    .class {
      padding: 0.4rem 0.2rem;
      font-weight: bold;
    }

    .icon {
      padding: 0.4rem 0.2rem;
    }
  }

  > * {
    margin-bottom: 0.4rem;
  }
  > *:last-child {
    margin-bottom: 0;
  }
}

.wm-buttons {
  .button {
    margin: 0.2rem;
  }
  font-size: 1.4rem;
}

@keyframes pulse {
  0% { background-color: $yellow; }
  12.5% { background-color: $orange; }
  25% { background-color: $red; }
  37.5% { background-color: $magenta; }
  50% { background-color: $violet; }
  62.5% { background-color: $blue; }
  75% { background-color: $cyan; }
  87.5% { background-color: $green; }
  100% { background-color: $yellow; }
}

.security-key {
  animation-name: pulse;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  font-size: 3rem;
  margin: 5px 0;
}

.music {
  font-size: 0.8rem;

  &.playing {
    :hover .pause-button {
      opacity: 0.5;
    }
  }

  &.paused {
    .pause-button {
      opacity: 0.5;
    }
    :hover .pause-button {
      opacity: 0;
    }
    :hover .play-button {
      opacity: 0.5;
    }
  }

  &.stopped {
    .albumart {
      opacity: 0.5;
    }
  }

  .play-button, .pause-button {
    opacity: 0;
    font-size: 1.5rem;
  }

  .album {
    font-weight: bold;
  }

  .artist {
    font-style: italic;
  }

  .albumart {
    margin-bottom: 2px;
  }

  .queue, .time {
    font-size: 0.8em;
  }

  .button {
    font-size: 1.2rem;
  }
}

.button {
  border: 1px solid;
  border-radius: 2px;
  label {
    padding: 0 0.5rem;
  }
}

.tray {
  window {
    border: 2px solid;
    border-radius: 5px;
  }
  menu {
    padding: 0.8rem 0.6rem;
  }
  menuitem {
    padding: 0.2rem;
    arrow {
      border: 3px solid;
      border-radius: 5px;
    }
  }
  menuitem > box > label:first-child {
    margin-left: 20px;
  }
}

.pie {
  .pie-overlay { font-size: 2.5rem; }

  &.v100, &.v90, &.v80, &.v70 { color: $red; }
  &.v60 { color: $orange; }
  &.v50 { color: $yellow; }
  &.v40 { color: $green; }
  &.v30 { color: $cyan; }
  &.v20, &.v10, &.v00 { color: $blue; }

  &.inverse {
    &.v100, &.v90, &.v80 { color: $blue; }
    &.v70 { color: $cyan; }
    &.v60 { color: $green; }
    &.v50 { color: $yellow; }
    &.v40 { color: $orange; }
    &.v30, &.v20, &.v10, &.v00 { color: $red; }
  }
}
