$base03:    #002b36;
$base02:    #073642;
$base01:    #586e75;
$base00:    #657b83;
$base0:     #839496;
$base1:     #93a1a1;
$base2:     #eee8d5;
$base3:     #fdf6e3;
$yellow:    #b58900;
$orange:    #cb4b16;
$red:       #dc322f;
$magenta:   #d33682;
$violet:    #6c71c4;
$blue:      #268bd2;
$cyan:      #2aa198;
$green:     #859900;

* {
  all: unset;
  font-family: "FiraCode Nerd Font"
}

tooltip {
  background-color: $base02;
  color: $base0;
  border-color: $base0;
}

.bar.light {
  color: $base00;
  background-color: $base3;

  progress {
    background-color: $base00;
  }
  progressbar {
    background-color: $base2;
    border-color: $base00;
  }

  .workspaces {
    .workspace, .window {
      color: $base1;
      background-color: $base3;
      border-color: $base1;

      &.active {
        color: $base01;
        background-color: $base2;
        border-color: $base01;
      }
    }
  }

  .music {
    &.paused {
      color: $base1;
      progress {
        background-color: $base1;
      }
      progressbar {
        border-color: $base1;
      }
    }

    .play-button, .pause-button {
      color: $base03;
      background-color: $base3;
    }
  }

  .new-album {
    color: $base00;
    background-color: $base2;
    border-color: $base00;
    &:hover {
      color: $base01;
      border-color: $base01;
    }
  }

  .tray {
    background-color: $base2;
    window {
      color: $base00;
      border-color: $base1;
      background-color: $base3;
    }
    menuitem {
      &:hover {
        color: $yellow;
      }
      arrow {
        border-color: $base01;
      }
    }
  }

  .pies {
    background-color: $base2;
  }

  .pie {
    background-color: $base3;
    .icon { color: $base3; }
  }

  .clock {
    color: $base01;
    background-color: $base2;
    .secondary { color: $base0; }
    .tertiary { color: $base1; }
  }
}

.bar.dark {
  color: $base0;
  background-color: $base03;

  progress {
    background-color: $base0;
  }
  progressbar {
    background-color: $base02;
    border-color: $base0;
  }

  .workspaces {
    .workspace, .window {
      color: $base01;
      background-color: $base03;
      border-color: $base01;

      &.active {
        color: $base1;
        background-color: $base02;
        border-color: $base1;
      }
    }
  }

  .music {
    &.paused {
      color: $base01;
      progress {
        background-color: $base01;
      }
      progressbar {
        border-color: $base01;
      }
    }

    .play-button, .pause-button {
      color: $base3;
      background-color: $base03;
    }
  }

  .tray {
    background-color: $base02;
    window {
      color: $base0;
      border-color: $base01;
      background-color: $base03;
    }
    menuitem {
      &:hover {
        color: $yellow;
      }
      arrow {
        border-color: $base1;
      }
    }
  }

  .pies {
    background-color: $base02;
  }

  .pie {
    background-color: $base03;
    .icon { color: $base03; }
  }

  .clock {
    color: $base1;
    background-color: $base02;
    .secondary { color: $base00; }
    .tertiary { color: $base01; }
  }
}

tooltip {
  border-radius: 5px;
  border: 2px solid;
  padding: 0.2rem 0.4rem;
}

progressbar > trough {
  min-width: 1px;
}

progressbar {
  border-radius: 10px;
  border: 1px dotted;
}

progress {
  border-radius: 10px;
  background-color: $green;
}

.bar {
  > * {
    padding: 0.2rem 0.4rem;
  }
  > *:first-child {
    padding-top: 0.4rem;
  }
  > *:last-child {
    padding-top: 0.4rem;
  }
}

.workspaces {
  .workspace {
    border: 1px solid;
    margin-bottom: 0.2rem;

    .name {
      padding: 0.4rem 0.2rem;
      font-weight: bold;
      font-variant: small-caps;
      font-size: 1.2rem;
    }

    .window {
      border-top: 1px solid;
      padding: 0.4rem 0.2rem;

      .class {
        font-weight: bold;
      }

      .title {
        font-size: 0.8rem;
      }
    }
  }
}

.music {
  font-size: 0.8rem;

  &.playing {
    :hover .pause-button {
      opacity: 0.5;
    }
  }

  &.paused {
    .pause-button {
      opacity: 0.5;
    }
    :hover .pause-button {
      opacity: 0;
    }
    :hover .play-button {
      opacity: 0.5;
    }
  }

  &.stopped {
    .albumart {
      opacity: 0.5;
    }
  }

  .play-button, .pause-button {
    opacity: 0;
    font-size: 1.5rem;
  }

  .album {
    font-weight: bold;
  }

  .albumart {
    margin-bottom: 2px;
  }

  .queue, .time {
    font-size: 0.8em;
  }
}

.new-album {
  font-size: 0.8rem;
  border: 1px dotted;
  border-radius: 2px;
  &:hover {
    border-style: solid;
  }
}

.tray {
  window {
    border: 2px solid;
    border-radius: 5px;
  }
  menu {
    padding: 0.8rem 0.6rem;
  }
  menuitem {
    padding: 0.2rem;
    arrow {
      border: 3px solid;
      border-radius: 5px;
    }
  }
  menuitem > box > label:first-child {
    margin-left: 20px;
  }
}

.pie {
  &.mem { color: $yellow; }
  &.cpu { color: $cyan; }
  &.disk { color: $green; }

  .icon { font-size: 2.5rem; }
}
